<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chat">
	
	
	<insert id="add">
		insert into chat(
		chat_no,
		chat_room_no, 
		member_email,
		chat_mention_target, 
		chat_content 
		)
		values(
		chat_seq.nextval, 
		#{chatRoomNo}, 
		#{memberEmail}, 
		#{chatMentionTarget}, 
		#{chatContent}
		)
	</insert>
	
<select id="list" resultType="ChatDto">
	select 
	    c.*, 
	    m.member_nick, 
	    mi.attach_no
	from 
	    chat c 
	    join member m on c.member_email = m.member_email 
	    left outer join member_image mi 
	    on m.member_email = mi.member_email 
	where 
	    c.chat_room_no = #{chatRoomNo} 
	    <if test="moimMemberJoin != null">
	<![CDATA[
	    and c.chat_time >= #{moimMemberJoin}
	]]>
	    </if>
	order by 
	    c.chat_time asc
	</select>
	
	<select id="sequence" resultType="int">
		select chat_room_seq.nextval from dual
	</select>
	
	<!-- 채팅방 만들기? -->
	<insert id="createChatRoom">
		insert into chat_room (chat_room_no)
		values (#{chatRoomNo})
	</insert>
	
	<!-- 채팅참가자 추가 -->
	<insert id="addChatMember">
		insert into chat_entry (chat_room_no, member_email) 
		values(#{chatRoomNo}, #{memberEmail})
	</insert>
	
	<!-- 채팅방에서 나가기 -->	
	<delete id="deleteChatMember">
		delete chat_entry where chat_room_no = #{chatRoomNo} 
		and member_email = #{memberEmail} 
	</delete>

	<!-- 회원의 참여 채팅방 조회 -->
	<select id="chatRoomNoByMemberEmail" resultType="list">
		select chat_room_no from chat_entry 
		where member_email = #{memberEmail}
	</select>
	
	<!-- 채팅방 번호랑 이메일로 채팅참여 멤버 조회(내가 들어가있는지확인) -->
	<select id="checkChatEntry" resultType="chatEntryDto">
		select * from chat_entry where chat_room_no = #{chatRoomNo} and member_email = #{memberEmail}
	</select>
	
	<!-- 채팅방번호로 모임번호 찾기 -->
	<select id="findMoimNoByChatRoomNo" resultType="Integer">
		select moim_no from moim where chat_room_no = #{chatRoomNo} 
	</select>
	
</mapper>