<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeBoard">

	<select id="list" resultType="FreeBoardDto">
		select * from free_board order by
		free_board_no desc
	</select>






	<insert id="add">


		insert into free_board(
		free_board_no,
		member_email,
		free_board_title,
		free_board_content,
		free_board_category
		)
		values
		(
		#{freeBoardNo},
		#{memberEmail},
		#{freeBoardTitle},
		#{freeBoardContent},
		#{freeBoardCategory}
		)

	</insert>

	<select id="sequence" resultType="int">
		select free_board_seq.nextval
		from dual
	</select>

	<update id="edit">
		update free_board
		<set>
			<if test="freeBoardTitle != null">
				free_board_title = #{freeBoardTitle},
			</if>
			<if test="memberNick != null">
				member_nick= #{memberNick},
			</if>
			<if test="freeBoardContent != null">
				free_board_content = #{freeBoardContent},
			</if>
			<if test="freeBoardCategory != null">
				free_board_category = #{freeBoardCategory}
			</if>
		</set>
		where free_board_no = #{freeBoardNo}
	</update>

	<delete id="delete">
		delete from free_board where free_board_no=
		#{freeBoardNo}
	</delete>

	<select id="selectOne" resultType="FreeBoardDto">
		select * from free_board where
		free_board_no = #{freeBoardNo}
	</select>


	<update id="replyCount">
		update free_board set free_board_reply_count= (
		select count(*) from free_board_reply where free_board_no = #{freeBoardNo})
		where free_board_no =#{freeBoardNo}
	</update>

	<select id="selectList" resultType="BoardVO">
		select * from free_board
		where instr(${type},#{keyword}) > 0
	</select>

	<select id="countList" resultType="FreeBoardDto">
		select count(*) from
		free_board
	</select>

	<select id="selectListBySearchPage" resultType="FreeBoardDto"
		parameterType="map">
		SELECT * FROM
		(SELECT * FROM free_board
		where
		instr(${type},#{keyword})>0
		ORDER BY free_board_no DESC)
		WHERE ROWNUM
		between #{begin}
		and #{end}
	</select>

	<select id="selectListByPage" resultType="FreeBoardDto"
		parameterType="map">

		select * from ( select rownum rn, TMP.* from(
		select *
		from free_board order by free_board_no desc
		)TMP
		) where rn between
		#{begin}
		and #{end}
	</select>

	<insert id="connect">
		insert into free_boad_image( free_board_no, attach_no
		)
		values(#{freeBoardNo}, #{attachNo})
	</insert>

	<select id="findImage" resultType="FreeBoardDto">
		select * from attach
		where
		attach_no = (
		select attach_no from free_board_image
		where free_board_no
		= #{freeBoardNo})
	</select>




</mapper>