<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeBoard">

	<select id="list" resultType="FreeBoardDto">
		select * from free_board order by
		free_board_no asc
	</select>






	<insert id="add">


		insert into free_board(
		free_board_no,
		member_nick,
		free_board_title,
		free_board_content,
		free_board_category
		)
		values
		(
		#{freeBoardNo},
		#{memberNick},
		#{freeBoardTitle},
		#{freeBoardContent},
		#{freeBoardCategory}
		)

	</insert>

	<select id="sequence" resultType="int">
		select free_board_seq.nextval
		from dual
	</select>

	<update id="edit">
		update free_board
		<set>
			<if test="freeBoardTitle != null">
				free_board_title = #{freeBoardTitle},
			</if>
			<if test="memberNick != null">
				member_nick= #{memberNick},
			</if>
			<if test="freeBoardContent != null">
				free_board_content = #{freeBoardContent},
			</if>
			<if test="freeBoardCategory != null">
				free_board_category = #{freeBoardCategory}
			</if>
		</set>
		where free_board_no = #{freeBoardNo}
	</update>

	<delete id="delete">
		delete from free_board where free_board_no=
		#{freeBoardNo}
	</delete>

	<select id="selectOne" resultType="FreeBoardDto">
		select * from free_board where
		free_board_no = #{freeBoardNo}
	</select>

</mapper>