<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="member">
    
	<!-- 등록  -->
	<insert id="save">
		insert into member(
			member_id,
			member_pw,
			member_nickname,
			member_email,
			member_contact,
			member_birth,
			member_post,
			member_addr1,
			member_addr2,
			member_level,
			member_point
		)
		value(
		member.seq.nextval,
		#{memberPw},
		#{memberNickName},
		#{memberEmail},
		#{memberContact},
		#{memberBirth},
		#{memberPost},
		#{memberAddr1},
		#{memberAddr2},
		#{memberLevel},
		#{memberPoint}
		)
	</insert>
	
		
	<!-- 전체조회  -->
	<select id="findAll">
		select * from member order by member_email asc
	</select>
		
	
	<!-- 일부조회  -->
	<select id="findByMemberEmail">
		select * from member where member_email = #{memberEmail}
	</select>
	
	
	
	<!-- 닉네임 검색  -->
	<select id="findByMemberNick">
		select * from member where instr(member_nick,#{memberNick}) > 0
	</select>
	
	
	<!-- 삭제  -->
	<delete id="deleteByMemberEmail">
		delete member where member_email = #{memberEmail}
	</delete>
	
	<!-- 수정  -->
	<update id="change">
		update member
		<set>
			<if test="memberDto.memberPw != null">
				member_pw = #{memberDto.memberPw},
			</if>
			
			<if test="memberDto.memberNick != null">
				member_nick = #{memberDto.memberNick},
			</if>
			
			<if test="memberDto.memberContact != null">
				member_contact = #{memberDto.memberContact},
			</if>
		</set>
		where member_email = #{memberEmal}
	</update>
	
	<!-- 페이징 목록  -->
	<select id="selectListByPage" resultType="memberDto">
		select * from(
			select rownum rn, TMP.*from(
				select * from member order by member_email asc
			)TMP
		)where rn between #{begin} and #{end}
	</select>	
	
	
	</mapper>