<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MoimBoard">

	<select id="sysdate" resultType="Date">
		select TO_CHAR(SYSDATE,'YYYYMMDD') FROM DUAL
	</select>


	<insert id="add">
		insert into moim_board (
		moim_board_no,
		moim_no,
		member_email,
		member_nick,
		moim_board_title,
		moim_board_content,
		moim_board_category,
		moim_board_time
		)
		values(
		#{moimBoardNo},
		#{moimNo},
		#{memberEmail},
		#{memberNick},
		#{moimBoardTitle},
		#{moimBoardContent},
		#{moimBoardCategory},
		sysdate
		)
	</insert>

	<select id="sequence" resultType="int">
		select moim_board_seq.nextval
		from dual
	</select>

	<select id="list" resultType="MoimBoardDto">
		select * from moim_board order by
		moim_board_no desc
	</select>

	<update id="edit">
		update moim_board
		<set>
			<if test="moimBoardTitle != null">
				moim_board_title =
				#{moimBoardTitle},
			</if>
			<if test="moimBoardContent != null">
				moim_board_content =
				#{moimBoardContent},
			</if>
			<if test="moimBoardCategory != null">
				moim_board_category =
				#{moimBoardCategory},
			</if>

		</set>
		where moim_board_no = #{moimBoardNo}
	</update>

	<delete id="delete">
		delete moim_board where moim_board_no =
		#{moimBoardNo}
	</delete>

	<select id="selectOne" resultType="MoimBoardDto">
		select * from moim_board where
		moim_board_no = #{moimBoardNo}

	</select>
	<!-- 모임 번호에 따른 모임 게시판 목록 -->
	<select id="listByMoimNo" resultType="MoimBoardDto">
		SELECT * FROM moim_board
		WHERE moim_no= #{moimNo}
		ORDER BY moim_board_no DESC
	</select>

	<!-- 모임번호와 카테고리에 따른 모임 게시판 목록 -->
	<select id="listByMoimCategory" resultType="MoimBoardDto">
		SELECT * FROM
		moim_board WHERE moim_no= #{moimNo} AND moim_board_no_category =
		#{moimBoardCategory}

		ORDER BY moim_board_no DESC
	</select>

	<!-- 모임번호와 카테고리에 따른 모임 게시판 목록2 -->
	<select id="listByMoimNoSortedByCategory"
		resultType="MoimBoardDto">
		SELECT * FROM moim_board
		WHERE moim_no = #{moimNo}
		AND
		moim_board_category = #{category}
		ORDER BY moim_board_no DESC
	</select>


	<update id="replyCount">
		update moim_board set moim_board_reply_count= (
		select count(*) from moim_board_reply where moim_board_no =
		#{moimBoardNo})
		where moim_board_no =#{moimBoardNo}
	</update>

	<select id="selectList" resultType="BoardVO">
		select * from moim_board
		where instr(${type},#{keyword}) > 0 and moim_no=#{moimNo}
	</select>

	<select id="countList" resultType="MoimBoardDto">
		select count(*) from
		moim_board where moim no =#{moimNo}
	</select>

	<select id="selectListBySearchPage" resultType="MoimBoardDto"
		parameterType="map">
		SELECT * FROM
		(SELECT * FROM moim_board
		where
		instr(${type},#{keyword})>0 and moim_no = #{moimNo}
		ORDER BY
		moim_board_no DESC)
		WHERE ROWNUM
		between #{begin}
		and #{end}


	</select>

	<select id="selectListByPage1" resultType="MoimBoardDto"
		parameterType="map">

		select * from ( select rownum rn, TMP.* from(
		select *
		from moim_board where moim_no = #{moimNo} order by moim_board_no desc
		)TMP
		) where rn between
		#{begin}
		and #{end}
	</select>

<select id="selectListByPage"  resultType="MoimBoardDto"
		parameterType="map">
		select * from ( select rownum rn, TMP.* from(
			select m.* 
		 ,nvl(mml.ATTACH_NO , 0) ATTACH_NO  from moim_board m left outer join 
		 MOIM_BOARD_IMAGE mml  on
		m.moim_board_no = mml.MOIM_BOARD_NO where moim_no = #{moimNo} ORDER BY m.MOIM_BOARD_NO DESC
		)TMP
		) where rn between
		#{begin}
		AND #{end}
	</select>

<select id="countImageList" resultType="int">
		
				select count(nvl(mml.ATTACH_NO , 0))  ATTACH_NO  from moim_board m left outer join 
		 MOIM_BOARD_IMAGE mml  on
		m.moim_board_no = mml.MOIM_BOARD_NO where moim_no = #{moimNo} AND mml.ATTACH_NO >0 
	</select>


	<insert id="connect">
		insert into moim_board_image
		( moim_board_no,
		attach_no) values(#{moimBoardNo}, #{attachNo})


	</insert>

	<select id="findImage" resultType="Integer">
		select attach_no from
		moim_board_image where moim_board_no = #{moimBoardNo}
	</select>


	<insert id="insertMoimBoardImage">
		insert into moim_board_image
		(moim_board_no,
		attach_no) values(#{moimBoardNo}, #{attachNo})
	</insert>



	<delete id="deleteMoimBoardImage">
		delete moim_board_image where moim_board_no =
		#{moimBoardNo}
	</delete>

</mapper>