<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="MoimBoard">

	<insert id="add">
		insert into moim_board (
		moim_board_no,
		moim_no,
		member_email,
		moim_board_title,
		moim_board_content,
		moim_board_category )
		values(
		moim_board_seq.nextval,
		#{moimNo},
		#{memberEmail},
		#{moimBoardTitle},
		#{moimBoardContent},
		#{moimBoardCategory})
	</insert>

	<select id="list" resultType="MoimBoardDto">
		select * from moim_board order by
		moim_board_no asc
	</select>
	<update id="edit">
		update moim_board set
		moim_board_title = #{moimBoardDto.moimBoardTitle}
		moim_board_content = #{moimBoardDto.moimBoardContent},
		moim_board_category = #{moimBoardDto.moimBoardCategory}
		where
		moim_board_no = #{no}
	</update>
	<delete id="delete">
		delete * from where moim_board_no = #{moimBoardNo}
	</delete>
	
</mapper>